# **01 - DataCollection**

## Objectives

* Fetch data from Kaggle and store it as raw data in inputs/datasets/raw
* Inspect data fetched via Kaggle
* Save data fetched under outputs/datasets/collection/

## Inputs

* My personal Kaggle JSON file to authenticate with Kaggle 

## Outputs

* inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv
* inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv
* inputs/datasets/raw/house-metadata.txt
* outputs/datasets/collection/HousePricesRecords.csv
* outputs/datasets/collection/InheritedHouses.csv

## Additional Comments

* The file inherited_houses.csv contains features and target variables for the business objective, serving as the foundation for the ML model. It also includes house features for which the client seeks individual and total price predictions.

---

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder
* We access the current directory with os.getcwd()

In [1]:
import os
current_dir = os.getcwd()
current_dir

'/workspaces/property-value-maximizer/jupyter_notebooks'

We want to make the parent of the current directory the new current directory
* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [2]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [3]:
current_dir = os.getcwd()
current_dir

'/workspaces/property-value-maximizer'

# Download data from Kaggle

The Kaggle API was used to fetch the raw project data, requiring the installation of the Kaggle package.

To authenticate, the API requires a token stored in a kaggle.json file. The token was obtained as follows:

Log into your Kaggle account.
Go to Settings via the user profile menu.
Locate the API section.
Click Expire API Token to remove any existing tokens.
Click Create New API Token to generate a new one.
Download the kaggle.json file.
Move kaggle.json to the project's root directory without renaming or changing its extension.
This ensures proper authentication for accessing Kaggle data.

In [4]:
%pip install kaggle==1.5.12

Requirement already satisfied: kaggle==1.5.12 in /home/cistudent/.local/lib/python3.12/site-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle==1.5.12) (1.17.0)
Requirement already satisfied: certifi in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle==1.5.12) (2024.12.14)
Requirement already satisfied: python-dateutil in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle==1.5.12) (2.9.0.post0)
Requirement already satisfied: requests in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle==1.5.12) (2.32.3)
Requirement already satisfied: tqdm in /home/cistudent/.local/lib/python3.12/site-packages (from kaggle==1.5.12) (4.67.1)
Requirement already satisfied: python-slugify in /home/cistudent/.local/lib/python3.12/site-packages (from kaggle==1.5.12) (8.0.4)
Requirement already satisfied: urllib3 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from kaggle==1.5.12) (2.2.3)
Requirement already satisfied: text-unidecode>=1.3 in /home/cistudent/.local/lib/python3.12/site-packages (from python-slugify->kaggle==1.5.12) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from requests->kaggle==1.5.12) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /home/cistudent/.pyenv/versions/3.12.1/lib/python3.12/site-packages (from requests->kaggle==1.5.12) (3.10)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

This code configures Kaggle API authentication by setting the KAGGLE_CONFIG_DIR environment variable to the current working directory so that the API can locate the kaggle.json credentials file. It then executes a shell command to change the file's permissions (chmod 600 kaggle.json), ensuring that only the owner can read and write it.

In [5]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = os.getcwd()
! chmod 600 kaggle.json

chmod: cannot access 'kaggle.json': No such file or directory

In [6]:
KaggleDatasetPath = "codeinstitute/housing-prices-data"
DestinationFolder = "inputs/datasets/raw"   
! kaggle datasets download -d {KaggleDatasetPath} -p {DestinationFolder}

Traceback (most recent call last):
  File "/home/cistudent/.local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/home/cistudent/.local/lib/python3.12/site-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/home/cistudent/.local/lib/python3.12/site-packages/kaggle/api/kaggle_api_extended.py", line 164, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /workspaces/property-value-maximizer. Or use the environment method.

In [7]:
! unzip {DestinationFolder}/*.zip -d {DestinationFolder} \
  && rm {DestinationFolder}/*.zip \
  && rm kaggle.json

unzip:  cannot find or open inputs/datasets/raw/*.zip, inputs/datasets/raw/*.zip.zip or inputs/datasets/raw/*.zip.ZIP.

No zipfiles found.

Uses pandas library to load two datasets into DataFrames from CSV files.

In [8]:
import pandas as pd
df = pd.read_csv(f"inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/house_prices_records.csv")
df_inherited = pd.read_csv(f"inputs/datasets/raw/house-price-20211124T154130Z-001/house-price/inherited_houses.csv")

Provides a concise summary of the df DataFrame.

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1stFlrSF       1460 non-null   int64
 1   2ndFlrSF       1374 non-null   float64
 2   BedroomAbvGr   1361 non-null   float64
 3   BsmtExposure   1422 non-null   object
 4   BsmtFinSF1     1460 non-null   int64
 5   BsmtFinType1   1315 non-null   object
 6   BsmtUnfSF      1460 non-null   int64
 7   EnclosedPorch  136 non-null    float64
 8   GarageArea     1460 non-null   int64
 9   GarageFinish   1225 non-null   object
 10  GarageYrBlt    1379 non-null   float64
 11  GrLivArea      1460 non-null   int64
 12  KitchenQual    1460 non-null   object
 13  LotArea        1460 non-null   int64
 14  LotFrontage    1201 non-null   float64
 15  MasVnrArea     1452 non-null   float64
 16  OpenPorchSF    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  OverallQual    1460 non-null   int64
 19  TotalBsmtSF    1460 non-null   int64
 20  WoodDeckSF     155 non-null    float64
 21  YearBuilt      1460 non-null   int64
 22  YearRemodAdd   1460 non-null   int64
 23  SalePrice      1460 non-null   int64
dtypes: float64(7), int64(13), object(4)
memory usage: 273.9+ KB

Count the number of missing (null/NaN) values in each column of the df DataFrame.

In [10]:
df.isnull().sum()

1stFlrSF            0
2ndFlrSF           86
BedroomAbvGr       99
BsmtExposure       38
BsmtFinSF1          0
BsmtFinType1      145
BsmtUnfSF           0
EnclosedPorch    1324
GarageArea          0
GarageFinish      235
GarageYrBlt        81
GrLivArea           0
KitchenQual         0
LotArea             0
LotFrontage       259
MasVnrArea          8
OpenPorchSF         0
OverallCond         0
OverallQual         0
TotalBsmtSF         0
WoodDeckSF       1305
YearBuilt           0
YearRemodAdd        0
SalePrice           0
dtype: int64

Filter df, keeping only the rows that are duplicates. There are no duplicates.

In [11]:
df[df.duplicated(subset=None)]

Empty DataFrame
Columns: [1stFlrSF, 2ndFlrSF, BedroomAbvGr, BsmtExposure, BsmtFinSF1, BsmtFinType1, BsmtUnfSF, EnclosedPorch, GarageArea, GarageFinish, GarageYrBlt, GrLivArea, KitchenQual, LotArea, LotFrontage, MasVnrArea, OpenPorchSF, OverallCond, OverallQual, TotalBsmtSF, WoodDeckSF, YearBuilt, YearRemodAdd, SalePrice]
Index: []

[0 rows x 24 columns]

Provides a concise summary of the df_inherited DataFrame.

In [12]:
df_inherited.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   1stFlrSF       4 non-null      int64
 1   2ndFlrSF       4 non-null      int64
 2   BedroomAbvGr   4 non-null      int64
 3   BsmtExposure   4 non-null      object
 4   BsmtFinSF1     4 non-null      float64
 5   BsmtFinType1   4 non-null      object
 6   BsmtUnfSF      4 non-null      float64
 7   EnclosedPorch  4 non-null      int64
 8   GarageArea     4 non-null      float64
 9   GarageFinish   4 non-null      object
 10  GarageYrBlt    4 non-null      float64
 11  GrLivArea      4 non-null      int64
 12  KitchenQual    4 non-null      object
 13  LotArea        4 non-null      int64
 14  LotFrontage    4 non-null      float64
 15  MasVnrArea     4 non-null      float64
 16  OpenPorchSF    4 non-null      int64
 17  OverallCond    4 non-null      int64
 18  OverallQual    4 non-null      int64
 19  TotalBsmtSF    4 non-null      float64
 20  WoodDeckSF     4 non-null      int64
 21  YearBuilt      4 non-null      int64
 22  YearRemodAdd   4 non-null      int64
dtypes: float64(7), int64(12), object(4)
memory usage: 868.0+ bytes

Count the number of missing (null/NaN) values in each column of the df_inherited DataFrame.

In [13]:
df_inherited.isnull().sum()

1stFlrSF         0
2ndFlrSF         0
BedroomAbvGr     0
BsmtExposure     0
BsmtFinSF1       0
BsmtFinType1     0
BsmtUnfSF        0
EnclosedPorch    0
GarageArea       0
GarageFinish     0
GarageYrBlt      0
GrLivArea        0
KitchenQual      0
LotArea          0
LotFrontage      0
MasVnrArea       0
OpenPorchSF      0
OverallCond      0
OverallQual      0
TotalBsmtSF      0
WoodDeckSF       0
YearBuilt        0
YearRemodAdd     0
dtype: int64

Filter df_inherited, keeping only the rows that are duplicates. There are no duplicates.

In [14]:
df_inherited[df_inherited.duplicated(subset=None)]

Empty DataFrame
Columns: [1stFlrSF, 2ndFlrSF, BedroomAbvGr, BsmtExposure, BsmtFinSF1, BsmtFinType1, BsmtUnfSF, EnclosedPorch, GarageArea, GarageFinish, GarageYrBlt, GrLivArea, KitchenQual, LotArea, LotFrontage, MasVnrArea, OpenPorchSF, OverallCond, OverallQual, TotalBsmtSF, WoodDeckSF, YearBuilt, YearRemodAdd]
Index: []

[0 rows x 23 columns]

Iterate over the columns of the DataFrame df and performs checks on the unique values in each column.

In [15]:
for col in df.columns:
    unique_values = df[col].unique()
    
    if df[col].dtype == 'object':
        print(f"{col} - {unique_values}")
    elif len(unique_values) < 11:
        print(f"{col} - {len(unique_values)}")

BedroomAbvGr - 9
BsmtExposure - ['No' 'Gd' 'Mn' 'Av' nan]
BsmtFinType1 - ['GLQ' 'ALQ' 'Unf' 'Rec' nan 'BLQ' 'LwQ']
GarageFinish - ['RFn' 'Unf' nan 'Fin']
KitchenQual - ['Gd' 'TA' 'Ex' 'Fa']
OverallCond - 9
OverallQual - 10

Create a directory structure and then save the two dataframes as CSV files to outputs/datasets/collection/

In [16]:
import os
try:
  os.makedirs(name='outputs/datasets/collection')
except Exception as e:
  print(e)

df.to_csv(f"outputs/datasets/collection/HousePricesRecords.csv",index=False)
df_inherited.to_csv(f"outputs/datasets/collection/InheritedHouses.csv",index=False)

[Errno 17] File exists: 'outputs/datasets/collection'

## Conclusions and Next Steps

The dataset contains 1460 rows and 24 columns.
The data types present include integers, floats, and objects.
There are no duplicate rows in the dataset.
10 columns have missing values, with some columns having almost all of their entries missing.
The columns BsmtExposure, BsmtFinType1, GarageFinish, KitchenQual consist of categorical variables.
Data cleaning and preprocessing are necessary to address the missing values and to properly handle the categorical variables in certain columns.

The Next Steps are to check for missing values in the dataset, address missing values in the dataset, and implement the data cleaning process.